html{
	padding: 20px;
	margin:0;
	height: 100%;
	background-color: white;

}
body{
	min-width: 600px;
	padding: 20px;
	margin:0;
	height: 100%;
	background-color: #eee;
	border: 1px solid #999;
}
#mid {
	border: 1px solid #999;
	height: 75%; 
	min-width: 240px;
	position:absolute; 
	margin-left: 20px;
	left:240px;
	right:180px;
	background-color:white;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	o-text-overflow:ellipsis; 
	overflow: hidden;  
	}/*绝对定位，使content不占据html文档流空间，让后面的left,right浮上去*/
#left {
	border: 1px solid #999; 
	width:200px;
	float:left;
	background-color:white; 
	height: 120px;
}
#right {
	border: 1px solid #999;
	height:100%;  
	width: 120px;
	float:right; 
	background-color: white;
}
#pic{
	border:1px solid #999;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	height: 80px;
	width: 80px;
}
#span1{
	margin-top:20px;
	float: left;
}
#span1>span{
	white-space:normal;
	font-size: 16px;
	font-weight: bold;
}
.logo{
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border: 1px solid #999;
}

